VITE_SUPABASE_URL_REMOTE=http://10.242.57.4/api
VITE_SUPABASE_ANON_KEY_REMOTE=

VITE_SUPABASE_URL=http://localhost:8000
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_SERVICE_KEY=

DATABASE_URL="postgresql://postgres:your-super-secret-and-long-postgres-password@localhost:5432/postgres?schema=public"
